*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#box{
    /* display:flex; */
    
}

.shape{
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    /* display: flex; */
       
}
